body, h1, h2, h3, h4, h5, h6 { 
    font-family: Chewy, cursive;
    background-color: #FAFAF2;
}

.three-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

/* all images at 100 */
img{
    width: 100%;
}

.recipe-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

.navbar{
    background-color: #FFCFE4;
}

.cooking-time{
    font-weight: bold; 
    color: #ffc9e2;
}

.recipe-image-wrapper{
    margin: 20px 0;
}

.recipe-image{
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    display: block;
}

a .category-header{
     color: #333333; 
text-decoration: none;
transition: color 0.3s ease; 
}

a:hover .category-header {
     color: #FFCFE4
}

.preserve-breaks {
    white-space: pre-line;
}

.back-button {
    background-color: #FFCFE4;
}