{% extends "layout.html" %}
{% block body %}

<!-- homepage goes here-->
<!-- a 3 column grid-->
 <div class="three-column">
    {% for category in results %}
    <a href="{{ url_for('category', id=category[0]) }}">
      <div class="w3-card-4">
          <!-- the category then the name -->
           <h1 class="category-header">{{ category[1] }}</h1>
          <!-- the category then the image -->
          <img src="{{ category[2] }}" alt="{{ category[1] }}">
        </div>
    </a>
         {% endfor %}
        </div>
        {% endblock %}