{% extends "layout.html" %}
{% block body %}

<!-- homepage goes here-->
<!-- a column grid-->
 <div class="single-column">
    {% for recipe in results %}
    <a href="{{ url_for('recipe', id=recipe[0]) }}">
      <div class="w3-card-4">
          <!-- the recipe then the name -->
           <h1>{{ recipe[1] }}</h1>
          <!-- the recipe then the image -->
          <img src="{{ recipe[2] }}" alt="{{ recipe[1] }}">
        </div>
    </a>
         {% endfor %}
        </div>
        {% endblock %}