{% extends "layout.html" %}
{% block body %}

<div class="w3-container" style="max-width: 800px; margin: 0 auto; padding: 20px;">
    {% if recipe %}
    
    <div class="button-group"> 
        <!-- Takes user back to the recipe's category -->
         <a href="{{ url_for('category', id=recipe[7]) }}" class="back-btn"> ← Back to Recipes </a>
         </div>

        <!-- recipe[1] is RecipeName -->
        <h1>{{ recipe[1] }}</h1>
        
        <!-- recipe[6] is ImageURL -->
        {% if recipe[6] %}
            <div class="recipe-image-wrapper">
                <img src="{{ recipe[6] }}" alt="{{ recipe[1] }}" class="recipe-image">
            </div>
        {% endif %}

        <div class="two-column">
            <div>
                <!-- recipe[2] is Description -->
                <p style="font-size: 18px; font-style: italic;">{{ recipe[2] }}</p>
            </div>
            <div>
                <!-- recipe[4] is TotalTime -->
                <p class="cooking-time">Total Time: {{ recipe[4] }} minutes</p>
            </div>
        </div>
        <div class="two-column">
            <div>
                <h3>Ingredients</h3>
           <!--recipe[5] is Ingredients  -->
                <p style="white-space: pre-line;">{{ recipe[5] }}</p>
            </div>
            <div>
                <h3>Instructions</h3>
                <!-- recipe[3] is Instructions -->
                <p style="white-space: pre-line;">{{ recipe[3] }}</p>
            </div>
        </div>
    {% endif %}
    {% endblock %}
</div>